.BlackBorder {
    -fx-text-fill: #231f20;
    -fx-border-color: #231f20;
}

.radio-button {
    -fx-text-fill: #231f20;
}

.label {
    -fx-text-fill: #231f20;
}

.tips {
    -fx-text-fill: rgba(16, 13, 13, 0.35);
}

.button {
    -fx-text-fill: #231f20;
}

.ModChoosePane {
    -fx-background-color: #fdfdfd;
    -fx-border-color: #231f20;
}